.center {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

img {
  height: 200px;
}

.calculation {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin: 24px;
}